@import '@/assets/variables-colors';
@import '@/assets/variables';
@import '@/assets/mixins';

.section {
  height: 100dvh;
  width: 100%;
  @include flex-center;
}

.content {
  padding: 24px;
  width: 100%;
  max-width: 600px;
  border-radius: $border-radius;
  background-color: $color-white;
  box-shadow: $box-shadow;
  @include flex-center;
  flex-direction: column;
}

.title-wrapper {
  display: flex;
}

.title {
  font-size: $fs-36;
  font-weight: $fw-800;
}

.tabs {
  width: 100%;
  max-width: 400px;
}

button[role='tab'] {
  font-size: $fs-20;
  font-weight: $fw-600;
  color: $color-black;
  width: 100%;
  max-width: 200px;
}

.form {
  display: flex;
  min-height: 340px;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  padding: 20px 0;
}

.custom-input {
  min-height: 70px;
  width: 100%;

  &>div {
    height: 50px;

    &>input {
      height: 50px;
    }
  }

  &>p {
    margin: 0;
  }
}