@use 'sass:color';
@import '@/assets/normalize';
@import '@/assets/variables-colors';
@import '@/assets/variables';

* {
  box-sizing: border-box;
}

html {
  color: $color-black;

  font-family: $ff-poppins;
}

html,
body,
#root {
  height: 100%;
}

body {
  background-color: $color-black-1;
}

// Custom scrollbar
::-webkit-scrollbar {
  width: 7px;
  height: 7px;

  &-track {
    width: 100%;
    height: 6px;

    box-shadow:
      inset 0 0 0 1px $color-grey,
      inset 0 0 0 3px $color-black;
  }

  &-thumb {
    border: 6px solid transparent;
    background-color: $color-aquamarine-1;

    &:hover {
      background-color: color.adjust($color-light-grey, $lightness: 10%);
    }
  }
}

::-webkit-scrollbar-corner {
  background: transparent;
}

.MuiAvatar-root {
  color: $color-black !important;
  background-color: $color-aquamarine-1 !important;
}

.MuiAutocomplete-hasPopupIcon {
  width: 100% !important;
  max-width: 548px !important;
  border: none !important;

  &>div {
    border-radius: 16px !important;
    background-color: $color-black-3 !important;

    &>label {
      color: $color-violet !important;
    }

    &>div {
      &>input {
        color: $color-white !important;
      }

      &>fieldset {
        border: none !important;
        border-radius: 16px !important;
      }
    }
  }
}