@import '@/assets/variables-colors';
@import '@/assets/variables';
@import '@/assets/mixins';

.chat-container {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  max-width: calc(1220px - $contact-section-width);
  // width: 100%;
  background-color: $color-black-2;
  display: flex;
  flex-direction: column;

}