@import '@/assets/variables-colors';
@import '@/assets/variables';
@import '@/assets/mixins';

.chat-container {
  height: 100vh;
  max-width: calc(1220px - 350px);
  width: 100%;
  background-color: $color-black-2;
  display: flex;
  flex-direction: column;
}