@import '@/assets/variables-colors';
@import '@/assets/variables';
@import '@/assets/mixins';

.open-contact,
.close-button {
  background-color: transparent !important;
  min-width: 24px !important;
  min-height: 24px !important;

  &:active {
    background-color: transparent !important;
  }

  &:hover {
    background-color: transparent !important;
  }
}

.close-button {
  position: absolute !important;
  top: 8px !important;
  right: 8px !important;
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400;
  background-color: $color-black-3;
  border: 2px solid $color-grey;
}

.modal-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 24px;
}

.title {
  color: $color-white;
  font-size: $fs-24;
}

.close-icon {
  width: 20px;
  height: 20px;
}