@import '@/assets/variables-colors';
@import '@/assets/variables';
@import '@/assets/mixins';

.chat {
  border-right: 1px solid $color-grey;
  position: relative;
  display: flex;
  height: 100dvh;
  overflow: hidden;
}