// global colors

$color-purple: #9c27b0;
$color-violet: #8417ff;
$color-violet-1: #8417ff30;
$color-grey: #5b5b5b;
$color-light-grey: #ece9e9;
$color-light-grey-1: #9b9797;
$color-blue: #2b0cb3;
$color-blue-1: #1976d2;
$color-blue-2: #56a4f1;
$color-red: #d2211a;
$color-green: #06a131;
$color-white: #fff;
$color-white-1: #fcfcfc;
$color-black: #000;
$color-black-1: #1b1c24;
$color-black-2: #1c1d25;
$color-black-3: #2a2b33;
$color-aquamarine: #21b3c1;
$color-aquamarine-1: #237e86;
$color-aquamarine-2: #94e5ec;