@import '@/assets/variables-colors';
@import '@/assets/variables';
@import '@/assets/mixins';

.profile-info {
  position: absolute;
  bottom: 0;
  height: 64px;
  display: flex;
  align-items: center;
  width: 100%;
  background-color: $color-black-3;
}

.wrapper {
  @include flex-between;
  width: 100%;
  gap: 12px;
  padding: 0 16px;
}

.info {
  display: flex;
  align-items: center;
  gap: 12px;
}

.name {
  text-wrap: wrap;
  max-width: 150px;
  -webkit-line-clamp: 1;
}

.edit-button,
.logout-button {
  @include button-styles;
}

.edit-icon,
.logout-icon {
  width: 20px;
  height: 20px;
  fill: $color-purple;
}

.logout-icon {
  fill: $color-red;
}

.buttons {
  display: flex;
  gap: 12px;
}
