@import '@/assets/variables-colors';
@import '@/assets/variables';
@import '@/assets/mixins';

.chat-header {
  height: $header-height + 20px;
  border-bottom: 1px solid $color-grey;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $color-black-3;
}

.header-wrapper {
  display: flex;
  gap: 20px;
  align-items: center;
}

.name {
  font-weight: $fw-600;
  font-size: $fs-24;
  color: $color-white;
}

.header {
  padding: 0 16px;
  @include flex-center;
  gap: 12px;
}

.close-button {
  @include button-styles;
}

.close-icon {
  width: 24px;
  height: 24px;
}