@import '@/assets/variables-colors';
@import '@/assets/variables';
@import '@/assets/mixins';

.contact-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.contact {
  background-color: $color-black-3;
  cursor: pointer;
}

.selected {
  background-color: $color-violet;
}

.chat-wrapper {
  padding: 0 16px;
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: start;
}