@import '@/assets/variables-colors';
@import '@/assets/variables';
@import '@/assets/mixins';

.contacts {
  position: relative;
  width: 100%;
  max-width: $contact-section-width;
  background-color: $color-black-1;
  color: $color-white;
  border-right: 1px solid $color-grey;
  border-left: 1px solid $color-grey;
}

.header {
  display: flex;
  align-items: center;
}

.rooms {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.room {
  @include flex-between;

}

.chat-title {
  margin-bottom: 0;
  font-size: $fs-30;
  font-weight: $fw-800;
  text-align: center;
  border-bottom: 1px solid $color-grey;
  height: $header-height;
}

.sub-title {
  padding: 16px;
  color: $color-grey;
  font-size: $fs-14;
  font-weight: 900;
  margin: 0;
  text-transform: uppercase;
}

.list-wrapper {
  max-height: 38vh;
  overflow-y: auto;

  ::-webkit-scrollbar {
    display: none;
  }
}